.depoimento {
  display: flex;
  background-color: var(--cor-p1);
  overflow: hidden;
}
.depoimento-imagem {
  height: 100%;
  width: 50vw;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo {
  width: 50vw;
  padding: 40px 40px 80px;
  align-self: flex-end;
  margin-left: 20px;
}

.depoimento-conteudo p {
  max-width: 25ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.depoimento p::before {
  content: "“";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  left: -50px;
  top: -20px;
}

.depoimento p::after {
  content: "”";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

@media (max-width: 800px) {
  .depoimento {
    flex-direction: column;
    text-align: center;
  }
  .depoimento-imagem {
    height: 100%;
    width: 100%;
  }

  .depoimento-conteudo {
    justify-self: center;
    width: 50%;
    margin: 0 auto;
    padding: 40px 20px;
  }
}
